@import './../../styles/variables.scss';

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 8px #00000050;

  @media (max-width: 889px) {
    padding: 0;
  }

  @media (max-width: 585px) {
    min-width: 300px;
  }

  .Item {
    display: flex;
    align-items: center;
    width: 100%;

    .Logo {
      float: left;
      height: 31px;
      color: $primaryColor;
      font-size: 2rem;
      font-weight: 700;
      text-align: start;
      line-height: 31px;
      margin: 0 20px;
      cursor: pointer;

      &:hover {
        color: $primaryColorHover;
      }
    }

    .SearchBarHeader {
      max-width: 350px;

      @media (max-width: 660px) {
        display: none;
      }
    }
  }
}
