.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 8px #00000050;

  @media (max-width: 889px) {
    padding: 0
  }

  @media (max-width: 585px) {
    min-width: 300px;
  }

  .Item {
    display: flex;
    align-items: center;
    width: 100%;

    .Logo {
      float: left;
      height: 31px;
      color: #1890ff;
      font-size: 2rem;
      font-weight: 700;
      text-align: start;
      line-height: 31px;
      margin: 0 20px;
      cursor: pointer;
    }

    .Search {
      max-width: 350px;
    }
  }

  .Button {
    margin-left: 20px;
  }
}