.Cards {
  display: grid;
  gap: 2rem;
  width: 100%;

  grid-template-columns: repeat(5, 1fr);

  @media (max-width: 1800px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 1550px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 1300px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 1000px) {
    grid-template-columns: 1fr;
  }
}
