.signInCard {
  border: 1px solid white;
  width: 100%;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  .cardHeader {
    color: var(--textColor);
    text-align: right;
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: right;
    div {
      margin-right: 7px;
    }
  }

  .cardHeader:hover {
    cursor: pointer;
    color: var(--primaryColorHover);
  }

  .cardInner {
    .Form {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 16px;
      .Input {
        width: 100%;
      }
    }
  }
}

.FormItem {
  :global {
    .ant-form-item-label > label {
      color: var(--textColor);
    }
    .ant-input {
      background-color: var(--backgroundColorPrimary);
    }
    .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input,
    .ant-input-status-success {
      color: var(--textColor);
      background-color: var(--backgroundColorPrimary);
    }
  }

  .Input:-webkit-autofill,
  .Input:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--textColor) !important;
    -webkit-box-shadow: 0 0 0 100px var(--backgroundColorPrimary) inset !important;
  }
}
