.headerBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.firstBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 3px;
  margin-bottom: 5px;
}

.secondBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-left: auto;
}

.companySelect {
  min-width: 220px;
}

.addButton {
  margin-left: auto;
}

@media (max-width: 992px) {
  .firstBlock {
    width: 100%;
    margin-bottom: 8px;
  }

  .secondBlock {
    margin-left: 0;
  }
}

@media (max-width: 576px) {
  .companySelect {
    width: 100%;
  }

  .secondBlock {
    width: 100%;
    justify-content: flex-end;
  }
}
