@import '../../styles/variables.scss';

.Sidebar {
  min-height: 100vh;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  overflow-x: hidden;
  overflow-y: auto;

  position: fixed;

  z-index: 1;

  padding-top: 110px;
  padding-bottom: 48px;

  transition: height none;

  @media (max-width: 500px) {
    display: none;
    // TODO: придумать что-то для мобильной версии
  }

  @media (max-width: 889px) {
    padding-top: 110px;
  }

  transition: flex 0.2s, width 0.2s, max-width 0.2s, min-width 0.2s,
    background 0.5s ease-in-out;
  background: var(--backgroundColorPrimary);
}

.List {
  padding: 0;

  background: transparent;
  color: var(--textColor);

  > * {
    padding: 0;
    margin: 0;
  }
}

.Rating {
  width: 200px;
  position: absolute;
  bottom: 48px;

  transition: background 0.5s ease-in-out;
  background: var(--backgroundColorPrimary);

  * {
    transition: color 0.5s ease-in-out;
    color: var(--textColor);
  }

  .RateBlock {
    max-height: 200px;

    .InfoBlock {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;
      margin-bottom: 0.5rem;

      .Title {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        overflow: hidden;
      }
    }

    > *:first-child {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
