.stepsContent {
  min-height: 200px;
  margin-top: 16px;
  padding-top: 80px;
  text-align: center;
  background-color: #fafafa;
  border: 1px dashed #e9e9e9;
  border-radius: 2px;
}

.stepsAction {
  margin-top: 24px;
}
.Confirm {
  :global {
    .ant-modal-header {
      background-color: purple;
    }
  }
}
