.Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

.Card {
    box-shadow: 0 2px 8px rgb(0 0 0 / 31%);
    flex: 0 1 29.333%;
    margin: 2%;

    .Button {
        float: right;
    }

    .Delete {
        float: right;
    }
}

.TaskContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;

    .Task {
        width: 100%;

        .Content {
            display: flex;

            .UserInfo {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex: 0 1 25%;

                p {
                    font-size: 20px;
                    font-weight: 600;
                }
            }
    
            .TaskInfo {
                padding: 0 20px;
                flex: 0 1 75%;
            }
        }

        
    }
}