.Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

.Card {
    box-shadow: 0 2px 8px rgb(0 0 0 / 31%);
    flex: 0 1 29.333%;
    margin: 2%;

    .Button {
        float: right;
    }
}