.Header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h1 {
    font-size: 26px;
    transition: color 0.2s;
    color: var(--primaryColor);
  }
}

.TasksList {
  display: grid;
  gap: 2rem;
  width: 100%;

  grid-template-columns: repeat(5, 1fr);

  @media (max-width: 1800px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 1550px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 1300px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 1000px) {
    grid-template-columns: 1fr;
  }

  .Card {
    min-width: 250px;
    transition: background 0.5s, box-shadow 0.5s, opacity 0.2s;
    box-shadow: 0 2px 10px -7px var(--textColor);
    background: var(--backgroundColorElements) !important;

    border-color: #88888830;

    > * {
      border-color: #88888830;
      transition: background 0.5s, color 0.5s;
      color: var(--textColor);

      &:first-of-type {
        background: var(--backgroundColorPrimary);
      }
    }

    border-radius: 10px;
    overflow: hidden;

    &.Disabled {
      opacity: 0.5;
    }
  }
}

// ===TASK PAGE=== //

.TaskContainer {
  display: flex;
  flex-wrap: wrap;

  flex: 0.5 0.5 1;

  width: 100%;
  gap: 1.5rem;
}
