@mixin scrollbar {
  overflow-x: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

// ===TASKS LIST=== //

.TasksList {
  display: grid;
  gap: 2rem;
  width: 100%;

  grid-template-columns: repeat(5, 1fr);
  @media (max-width: 1800px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width: 1550px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 1300px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 1000px) {
    grid-template-columns: 1fr;
  }

  .Card {
    min-width: 250px;
    transition: background 0.5s, box-shadow 0.5s, opacity 0.2s;
    box-shadow: 0 2px 10px -7px var(--textColor);
    background: var(--backgroundColorElements) !important;

    border-color: #88888830;
    > * {
      border-color: #88888830;
      transition: background 0.5s, color 0.5s;
      color: var(--textColor);

      &:first-of-type {
        background: var(--backgroundColorPrimary);
      }
    }

    border-radius: 10px;
    overflow: hidden;

    &.Disabled {
      opacity: 0.5;
    }
  }
}

// ===TASK PAGE=== //

.TaskContainer {
  display: flex;
  flex-wrap: wrap;

  flex: 0.5 0.5 1;

  width: 100%;
  gap: 1.5rem;

  .Card {
    position: relative;
    border-radius: 20px;
    overflow: hidden;

    transition: background 0.5s, box-shadow 0.5s;
    box-shadow: 0 2px 10px -4px var(--shadowColor);
    background: var(--backgroundColor) !important;

    border-color: #88888830;
    > * {
      border-color: #88888830;
    }
  }

  .Task {
    width: 350px;
    min-height: 400px;
    max-height: 750px;

    @media (max-width: 1000px) {
      width: 100%;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .UserInfo {
      display: flex;
      align-items: center;
      flex-direction: column;

      * {
        transition: color 0.5s;
        color: var(--textColor);
      }
    }

    .TaskInfo {
      border-radius: 10px;
      overflow: hidden;

      transition: background 0.5s;
      background: var(--backgroundColorElements) !important;

      border-color: #88888830;
      > * {
        border-color: #88888830;
        > * {
          border-color: #88888830;
        }
      }

      > * {
        transition: background 0.5s, color 0.5s;
        color: var(--textColor);

        &:first-of-type {
          background: var(--backgroundColorPrimary);
        }
      }

      .Description {
        width: 100%;
        max-height: 100px;

        border-bottom: 1px solid #88888830;

        overflow: hidden;
        @include scrollbar;
      }
    }
  }

  .Auction {
    width: 500px;
    min-height: 400px;
    max-height: 750px;
    padding-bottom: 64px;
    position: relative;

    @media (max-width: 1440px) {
      width: calc(100% - 1.5rem - 350px);
    }

    @media (max-width: 1000px) {
      width: 100%;
    }

    > * {
      transition: background 0.5s, color 0.5s;
      color: var(--textColor);
      &:first-of-type {
        background: var(--backgroundColorPrimary);
      }
    }

    > div:first-of-type {
      margin-bottom: 0;
    } // card header (antd)
    > div:last-of-type {
      padding: 0;
    } // card body (antd)

    ul {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      margin: 0;
      padding: 16px 1rem;
      transition: background 0.5s;
      background: var(--backgroundColorPrimary);

      li {
        background: transparent;
        transition: border 0.5s;
        border-color: var(--primaryColor) !important;

        > * {
          font-weight: 400;

          transition: color 0.5s, background 0.5s, border 0.5s;
          border-color: var(--primaryColor) !important;
          color: rgba(255, 255, 255, 0.8);
          background: var(--primaryColor);
          &:hover {
            color: rgba(255, 255, 255, 0.8);
            background: var(--primaryColorHover);
          }
        }
      }
    } // pagination buttons

    > div:last-of-type {
      div {
        position: static;
      }

      > * > * > * > div {
        background: transparent;
      } // table-wrapper bg-color (antd)

      table {
        background: transparent !important;
        transition: color 0.5s;
        color: var(--textColor);
        * {
          border-color: #88888830;
        }

        th {
          transition: color 0.5s, background 0.5s;
          color: var(--textColor);
          background: var(--backgroundColorElements) !important;
        }

        tr {
          transition: background 0.5s;
          opacity: 0.8;

          &:first-of-type {
            opacity: 1;
          }

          &:hover {
            opacity: 1;
            background: var(--backgroundColorElements);
          }
          td {
            background: transparent !important;
          }
        }
      }
    }
  }

  .Comments {
    width: calc(100% - 3rem - 500px - 350px);
    min-height: 400px;
    max-height: 750px;
    position: relative;
    overflow: hidden;

    > * {
      h2 {
        transition: color 0.5s;
        color: var(--textColor);
      }
      &:first-of-type {
        position: sticky;
        left: 0;
        top: 0;
        z-index: 1;
        transition: background 0.5s, color 0.5s;
        color: var(--textColor);
        background: var(--backgroundColor);
      }
      &:last-of-type {
        z-index: 0;
        padding: 0;
      }

      .Tabs {
        > *:first-of-type {
          position: absolute;
          z-index: 1;
          left: 0;
          top: 0;
          width: 100%;
          height: 58px;
          margin: 0;
          padding: 0 1rem;

          transition: background 0.5s, color 0.2s;
          color: var(--textColor);
          background-color: var(--backgroundColorPrimary) !important;
          border-bottom: 1px solid #88888830;
        }
        > * {
          background-color: transparent !important;
          margin-top: calc(58px - 1.5rem);
          z-index: 0;
          padding-top: 24px;
        }
      }

      .List {
        transition: background 0.5s;
        background-color: transparent !important;
        border-bottom: 0 0 10px 10px;
        overflow: hidden;
      }
      .List ul {
        height: 100%;
        max-height: 580px;

        @include scrollbar;

        li {
          transition: background 0.2s, color 0.5s;
          padding: 1rem 1.5rem 0;
          border-color: #88888830;

          * {
            transition: color 0.5s;
            color: var(--textColor);
          }
          .Description {
            opacity: 0.5;
          }

          opacity: 0.8;

          &:hover {
            opacity: 1;
            background: var(--backgroundColorElements);
          }
        }
      }
    }

    @media (max-width: 1440px) {
      width: 100%;
    }
  }
}
