@import 'styles/variables.scss';

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;

  @media (max-width: 889px) {
    padding: 0;
  }

  @media (max-width: 585px) {
    min-width: 300px;
  }

  .Item {
    display: flex;
    align-items: center;
    width: 100%;

    .Logo {
      float: left;
      font-size: 2rem;
      text-align: start;
      margin: 0 0.5rem;
      cursor: pointer;
    }

    .Search {
      max-width: 320px;

      input {
        transition: color 0.5s, background 0.5s, border 0.2s;
        border-color: #88888850;
        color: var(--textColor);
        background: transparent !important;

        &:hover,
        &:focus {
          border-color: var(--primaryColor);
        }
      }

      @media (max-width: 660px) {
        display: none;
      }
    }
  }
}

.Header {
  transition: background 0.5s;
  background: var(--backgroundColorPrimary);
  .Button_Premium {
    @media (min-width: 425px) {
      margin: 0 2rem;
    }
    @media (min-width: 768px) {
      margin: 0 10rem;
    }
    @media (min-width: 1024px) {
      margin: 0 15rem;
    }
    @media (min-width: 1440px) {
      margin: 0 30rem;
    }
    @media (min-width: 2560px) {
      margin: 0 60rem;
    }
  }
}

.Logo {
  transition: color 0.5s;
  color: var(--primaryColor);
  &:hover {
    color: var(--primaryColorHover);
  }
}

.Button_Premium {
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    margin-left: 0.25rem;
  }
  @media (max-width: 425px) {
    display: none;
  }
}

.LoginUser {
  @media (max-width: 425px) {
    display: none;
  }
}

.ThemeSwitcher {
  @media (max-width: 425px) {
    display: none;
  }
}
.Diamant {
  fill: white;
}
