.default {
  color: red;
}

.error {
  visibility: hidden;
}

.Input {
  :global {
    .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input,
    .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover {
      background: var(--backgroundColorPrimary);
    }
  }
}
