.Form {
  .sumRow {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .inputNumber {
    width: 100%;
  }
  .SelectBlock {
    p {
      margin-bottom: 0.5rem;
    }
    .Select {
      width: 100%;
      margin-bottom: 1rem;
    }
  }
  .priceItem {
    margin: 0;
  }
  .totalItem {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 1.25rem;
    margin-top: 1rem;
  }
}

.invoiceRow {
  display: flex;
  gap: 8px;
  align-items: flex-end;
}

.currencySelect {
  width: 50px;
}
