@import 'styles/variables.scss';

.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  background: transparent;

  transition: margin 0.2s;

  @media (max-width: 889px) {
    padding: 0 25px;
  }

  @media (max-width: 600px) {
    padding: 0 10px;
    margin-left: 0 !important;
  }
}

.Divider {
  width: 100%;
  height: 2px;
  transition: background 0.5s;
  background: var(--primaryColor);
}

.Footer {
  h2,
  span {
    transition: color 0.5s;
  }

  h2 {
    color: var(--primaryColor);
  }
  span {
    color: var(--textColor);
  }
}
