.CardDiv {
  width: calc(100% - 3rem - 450px - 450px);

  @media (max-width: 1600px) {
    width: 100%;
  }
}

.Card {
  // width: calc(100% - 3rem - 450px - 450px);

  // @media (max-width: 1600px) {
  //   width: 100%;
  // }

  min-height: 400px;
  max-height: 750px;
  position: relative;
  border-top: 20px;
  overflow: hidden;

  transition: background 0.5s, box-shadow 0.5s;
  box-shadow: 0 2px 10px -4px var(--shadowColor);
  background: var(--backgroundColor) !important;

  border-color: #88888830;
  > * {
    border-color: #88888830;
  }

  position: relative;
  overflow: hidden;

  > * {
    h2 {
      color: var(--textColor);
    }
    &:first-of-type {
      position: sticky;
      left: 0;
      top: 0;
      z-index: 1;
      transition: background 0.5s, color 0.2s;
      color: var(--textColor);
      background: var(--backgroundColorPrimary);
    }
    &:last-of-type {
      z-index: 0;
      padding: 0;
    }

    .List {
      background-color: transparent !important;
      // overflow: hidden;
      overflow-y: scroll;
    }
    .List ul {
      max-height: calc(750px - 64px - 64px);

      // overflow-x: hidden;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }

      .Comment {
        padding: 0 5rem 0 1rem;
        transition: background 0.5s, color 0.2s, opacity 0.2s;
        border: 0;
        border-bottom: 1px solid #88888830;
        background-color: transparent;
        box-sizing: border-box;
        word-break: break-all;

        * {
          transition: color 0.2s;
          color: var(--textColor);
        }

        opacity: 0.8;
        &:hover {
          opacity: 1;
          background: var(--backgroundColorElements);
        }

        width: 100%;
        margin: 0;

        &.Active {
          padding: 0 1rem 0 5rem;

          > div {
            display: flex;
            flex-direction: row-reverse;
            justify-content: right;
            width: 100%;
            position: relative;

            > div:first-of-type {
              margin: 0 0 0 12px;
            }

            > div:last-of-type {
              > div:first-of-type {
                display: flex;
                flex-direction: row-reverse;

                > span {
                  padding: 0 0 0 8px;
                }
              }

              > div:last-of-type {
                display: flex;
                justify-content: flex-end;
                text-align: justify;
              }
            }
          }
        }
      }

      li {
        padding: 0;
        margin: 0;
      }
    }
  }

  // .Input {
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 64px;
  //   display: flex;
  //   align-items: center;

  //   input {
  //     width: calc(100% - 64px);
  //     height: 64px;
  //     padding: 0 2rem;
  //     font-size: 16px;
  //     transition: background 0.5s, color 0.2s, border 0.2s;
  //     color: var(--textColor);
  //     background-color: var(--backgroundColorPrimary);
  //     border-color: transparent !important;
  //     &:hover {
  //       border-color: var(--primaryColor) !important;
  //     }
  //     &:focus {
  //       border-color: var(--primaryColorHover) !important;
  //     }
  //     border-radius: 0 0 0 20px;
  //     border-top: 1px solid #88888830 !important;
  //   }

  //   button {
  //     width: 64px;
  //     height: 64px;
  //     border-radius: 0;
  //     border: 0;
  //   }
  // }
}

.Input {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;

  input {
    width: calc(100% - 64px);
    height: 64px;
    padding: 0 2rem;
    font-size: 16px;
    transition: background 0.5s, color 0.2s, border 0.2s;
    color: var(--textColor);
    background-color: var(--backgroundColorPrimary);
    border-color: #88888830 !important;
    &:hover {
      border-color: var(--primaryColor) !important;
    }
    &:focus {
      border-color: var(--primaryColorHover) !important;
    }
    border-radius: 0 0 0 20px;
    border-top: 1px solid #88888830 !important;
  }

  button {
    width: 64px;
    height: 64px;
    border-radius: 0;
    border: 0;
    border-bottom-right-radius: 20px;
  }
}

.Block {
  border: 1px solid blue;
}

.Card {
  :global {
    .ant-empty-normal {
      color: var(--textColor);
    }
  }
}

.Empty {
  color: var(--textColor);
}
