.tableHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  padding-bottom: 1rem;
  gap: 0.5rem;
  margin-top: 2rem;

  .filterWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}
