.Header {
  font-size: calc(20px + (25 + 25 * 0.7) * ((100vw - 320px) / 1440));
  text-align: center;
  margin-bottom: 0;

  transition: color 0.5s;
  color: var(--primaryColor);
}

.Text {
  text-align: center;
  font-size: calc(15px + (5 + 5 * 0.7) * ((100vw - 320px) / 1400));
  margin: 1rem 0 2rem 0;

  transition: color 0.5s;
  color: var(--textColor);
}

.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem 4rem;

  @media (max-width: 1000px) {
    gap: 1rem 2rem;
  }
}

.Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 300px;
  border: 2px dashed grey;
  border-radius: 1rem;
  padding: 1rem;

  &.Active {
    // TODO: styles for active plan
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 46px;
  }

  p {
    font-size: 18px;
  }

  h2,
  h3,
  p {
    transition: color 0.5s;
    color: var(--textColor);
  }

  transition: background 0.5s,
  border 0.5s;

  button {
    margin-top: 1rem;
  }

  &:hover {
    background-color: plum;
    border: 0;

    .Divider {
      background-color: white;
    }
  }

  .Card:hover {

    h2,
    h3,
    p {
      color: rgba(255, 255, 255, 80%);
    }

    // background-color: plum;
    background-color: var(--primaryColor);
    border-color: transparent;

    .Divider {
      background-color: rgba(255, 255, 255, 80%);
    }
  }

  .Divider {
    width: 100%;
    height: 1px;
    opacity: 0.8;
    margin: 1rem;
    transition: background 0.5s;
    background-color: grey;
  }