.Layout {
  // compensate header height
  padding-top: 64px;
  // compensate footer height
  padding-bottom: 62px;

  overflow-x: hidden;
  overflow-y: auto;

  min-height: 100vh;

  background: var(--backgroundColor);

  .Content {
    padding: 32px;

    @media (max-width: 800px) {
      margin: 16px 40px;
      padding: 16px;
    }

    @media (max-width: 400px) {
      margin: 0;
      padding: 0;
    }
  }
}

.Layout,
.Layout .Content {
  transition: background 0.5s;
}
