.Form {
  .formInput {
    width: 100%;
  }
  .SelectBlock {
    p {
      margin-bottom: 0.5rem;
    }
    .Select {
      width: 100%;
      margin-bottom: 1rem;
    }
  }
  .PriceItem {
    margin: 0;
  }
}
