.Header {
  text-align: center;
  transition: color 0.5s;
  color: var(--primaryColor);
  margin: 0 0 2rem 0;
  font-size: 32px;
}

.Admin {
  @media (max-width: 525px) {
    display: none;
  }
}

.Container {
  display: flex;
  gap: 2rem;

  @media (max-width: 1440px) {
    align-items: center;
    flex-direction: column;
  }

  > div:first-of-type {
    width: 100%;
    min-width: 300px;
    max-width: 600px;
    border-radius: 20px;
    overflow: hidden;

    transition: background 0.5s, box-shadow 0.5s;
    box-shadow: 0 2px 10px -5px var(--textColor);
    background: var(--backgroundColor) !important;

    border-color: #88888830;
    > * {
      border-color: #88888830;
      transition: background 0.5s, color 0.2s;
      color: var(--textColor);

      &:first-of-type {
        background: var(--backgroundColorPrimary);
      }
    }

    * {
      border-color: #88888830;
    }

    .Info {
      > div {
        color: var(--textColor);
        transition: background 0.5s, opacity 0.2s;
        opacity: 0.5;
      }
    }
    &:hover {
      .Info {
        > div {
          opacity: 1;
        }
      }
    }
  }

  > div:last-of-type {
    width: 100%;

    @media (max-width: 1440px) {
      max-width: 600px;
    }
  }
}

.Avatar {
  width: 100%;
  height: 300px;

  display: flex;
  justify-content: center;

  > * {
    min-width: 280px;
    height: 280px;
    margin-bottom: 20px;

    transition: border-radius 0.2s;
    border-radius: 50%;
    &:hover,
    &:focus {
      border-radius: 25%;
    }

    @media (max-width: 600px) {
      min-width: 200px;
      height: 200px;
    }
  }

  @media (max-width: 600px) {
    height: 220px;
  }
}

.Info {
  display: flex;
  flex-direction: column;

  > div {
    border-radius: 0;
    border-bottom: 0;

    transition: background 0.5s;
    background: var(--backgroundColorElements);

    &:first-of-type {
      border-radius: 10px 10px 0 0;
      overflow: hidden;
    }

    &:last-of-type {
      border-radius: 0 0 10px 10px;
      overflow: hidden;
    }

    > * {
      > * {
        transition: color 0.5s;
        color: var(--textColor);
      }

      &:first-of-type {
        transition: background 0.5s;
        background: var(--backgroundColorPrimary);
      }
    }
  }

  button {
    width: 100%;
    height: 50px;
    border-radius: 0 0 10px 10px;
  }

  .companyName {
    border-radius: 2px;
    margin: 1.5px;
    text-align: center;
    width: 23.5%;
    min-width: 120px;
    height: 20%;
  }
  .companyName::before {
    display: none !important;
  }
}
.DomainMyCard {
  display: flex;
  gap: 2rem;

  @media (max-width: 1440px) {
    align-items: center;
    flex-direction: column;
  }

  > div:first-of-type {
    width: 100%;
    min-width: 300px;
    max-width: 1300px;
    padding-bottom: 30px;
    overflow: hidden;

    transition: background 0.5s, box-shadow 0.5s;
    box-shadow: 0 2px 10px -5px var(--textColor);
    background: var(--backgroundColor) !important;

    border-color: #88888830;
    > * {
      border-color: #88888830;
      transition: background 0.5s, color 0.2s;
      color: var(--textColor);

      &:first-of-type {
        background: var(--backgroundColorPrimary);
      }
    }

    * {
      border-color: #88888830;
    }
  }
}
.DomainMyCardInfo {
  border-radius: 10px 10px 10px 10px;
  margin-bottom: 20px;
}
.DomainNameboldText {
  font-weight: bold;
}
