.Buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.Opportunities {
  .Button {
    display: none;
  }
  @media (max-width: 525px) {
    display: flex;
    justify-content: space-evenly;
    .Button {
      display: flex;
    }
  }
}
