.Menu {
  display: block;
  padding: 0.25rem;
  margin: 0 0.75rem;

  @media (min-width: 425px) {
    display: none;
  }
}

.Drawer {
  .Buttons {
    margin: -1.5rem;
  }
}

.Points {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}

.Diamant {
  margin-bottom: -0.3em;
}

.Premium {
  margin: 1rem 0;

  span {
    color: var(--textColor);
    padding: 0.25em 0.5em;
  }
}

.Premium:hover+.Divider {
  background-color: var(--primaryColor);
}

.SignIn {
  margin: 1rem 0;
  color: var(--textColor);
  padding: 0 0.5em;
}

.SignIn:hover+.Divider {
  background-color: var(--primaryColor);
}

.Divider {
  display: flex;
  background-color: #88888830;
  margin: 0;
}