.Menu {
  color: var(--primaryColor);
  margin-left: 15px;
  display: inline-block;
  cursor: pointer;

  .FirstLine,
  .SecondLine,
  .ThirdLine {
    width: 35px;
    height: 5px;
    background-color: var(--primaryColor);
    margin: 6px 0;
    transition: 0.4s;
  }

  .ChangeBurger .FirstLine {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .ChangeBurger .SecondLine {
    opacity: 0;
  }

  .ChangeBurger .ThirdLine {
    -webkit-transform: rotate(45deg) translate(-9px, -6px);
    transform: rotate(45deg) translate(-9px, -7px);
  }

  @media (min-width: 425px) {
    display: none;
  }
}
.Drawer {
  top: 60px;
  // .Buttons {
  //   margin: -1.5rem;
  // }
}

.LogoUser {
  width: 50px;
  height: 50px;
}

.UserInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    font-size: 16px;
  }
}

.Points {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  // margin-top: 20px;
  width: 100%;
}

.Diamant {
  margin-bottom: -0.3em;
}

.Premium {
  margin: 1rem 0;
  span {
    font-size: 20px;
    color: var(--textColor);
    padding: 0.25em 0.5em;
  }
}

.Premium:hover + .Divider {
  background-color: var(--primaryColor);
}
.SignIn {
  margin: 1rem 0;
  color: var(--textColor);
  font-size: 20px;
  padding: 0 0.5em;
}

.Divider {
  color: var(--textColor);
  margin: 5;
}

.Buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SignIn:hover + .Divider {
  background-color: var(--primaryColor);
}

.Divider {
  display: flex;
  background-color: #88888830;
  margin: 0;
}
////////////////////

// .Menu {
//   display: block;
//   padding: 0.25rem;
//   margin: 0 0.75rem;
//   background-color: var(----textColor); //burger background
//   color: var(--primaryColor);

//   @media (min-width: 425px) {
//     display: none;
//   }
// }

// .Search {
//   margin-top: 15px;
//   height: 50px;
// }

// .Image {
// margin-top: 0.17rem;
// }
