.Table {
  max-height: 400px;
  cursor: pointer;
  button {
    color: var(--textColor);
  }
  button:disabled {
    color: #88888830;
  }
  li a {
    color: var(--primaryColor);
  }
  :global {
    .ant-pagination-item-active {
      background-color: var(--primaryColorHover);
    }
    .ant-pagination-item-active a {
      color: white;
    }
  }
}
