.currency {
  float: right;
}

.Table {
  max-height: max-content;
  cursor: pointer;
  button {
    color: var(--textColor);
  }
  button:disabled {
    color: #88888830;
  }
  li a {
    color: var(--primaryColor);
  }
  :global {
    .ant-pagination-item-active {
      background-color: var(--primaryColorHover);
    }
    .ant-pagination-item-active a {
      color: white;
    }
  }
}
.block {
  display: flex;
  justify-content: space-between;
}
.popconfirm {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  font-size: 14px;
}
.eyelined {
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  height: 9px;
  width: 9px;
}
.spin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.payer {
  color: #1677ff !important;
  &:hover {
    color: #4096ff;
  }
}

.title {
  color: var(--primaryColor);
  font-weight: 400;
}
.noScroll {
  height: 100vh !important;
}
.StreetsBlockContainer {
  height: 500px !important;
  background-color: #4096ff;
}

.Pagination{
  display: flex;
  justify-content: center;
  margin: 25px 0;
}