.Table {
  button {
    color: var(--textColor);
  }
  button:disabled {
    color: #88888830;
  }
  li a {
    color: var(--primaryColor);
  }
  :global {
    .ant-pagination-item-active {
      background-color: var(--primaryColorHover);
    }
    .ant-pagination-item-active a {
      color: white;
    }
  }
}

.Icon {
  font-size: 14px;
}

// .rowClass {
//   :global {
//     .ant-table-thead {
//       white-space: pre-line;
//       word-wrap: break-word;
//       font-size: 10px;
//       text-align: center;
//     }
//   }
// }
