@import './../../../styles/variables.scss';

.Header {
  text-align: center;
  font-size: calc(30px + (20 + 20 * 0.7) * ((100vw - 320px) / 1400));
  margin: 0;
}

.Text {
  text-align: center;
  font-size: calc(15px + (5 + 5 * 0.7) * ((100vw - 320px) / 1400));
  font-weight: 400;
  margin: calc(4px + 20 * (100vw / 1400)) 0;

  a {
    cursor: pointer;
    color: $primaryColor;

    &:hover {
      color: $primaryColorHover;
    }
  }
}

.Container {
  display: flex;
  min-height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @media (max-width: 889px) {
    flex-direction: column;
  }
}

.LoginForm {
  width: 300px;
  padding: 0 10px;

  div:last-child {
    margin-bottom: 0;
  }

  .FormForgot {
    color: $primaryColor;
    float: right;

    &:hover {
      color: $primaryColorHover;
    }
  }
}
