.glassCard {
  // Glassmorphism effect
  background: rgba(100, 42, 181, 0.28);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border: 1px solid rgba(100, 42, 181, 0.43);
}
