.Card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
}

.Card {
  h2,
  p {
    color: var(--textColor);
  }
  p {
    @media (max-width: 440px) {
      display: none;
    }
  }
}

.ListItem {
  width: 500px;
  @media (max-width: 1200px) {
    width: 320px;
    flex-direction: column;
  }
  @media (max-width: 768px) {
    width: 180px;
  }
  @media (max-width: 480px) {
    width: 120px;
  }
}
