.Card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  background-color: var(--backgroundColorPrimary);
  color: var(--textColor);
}
.Panel {
  width: 100%;
}

.Card {
  h2,
  h4,
  p {
    color: var(--textColor);
  }
}

.Panel {
  p {
    width: 100px;
  }
  :global {
    .ant-collapse-header-text {
      color: var(--textColor);
    }
    .ant-collapse-arrow {
      color: var(--textColor);
    }
  }
}

.Drawer {
  :global {
    .ant-drawer-title {
      color: var(--textColor);
    }
  }
}

.ListItem {
  width: 100%;
  @media (max-width: 1200px) {
    width: 320px;
    flex-direction: column;
  }
  @media (max-width: 768px) {
    width: 180px;
  }
  @media (max-width: 480px) {
    width: 120px;
  }
}
