.monthsDropdown {
  max-height: 170px !important;
  overflow-y: auto !important;
  border-radius: 8px !important;
  padding: 4px 0;
  min-width: 170px !important;

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-clip: padding-box;

    &:hover {
      background-color: rgba(0, 0, 0, 0.786);
    }
  }
}