.Info {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}

.Card {
  display: flex;
  position: absolute;
  right: 66px;
  top: 75px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 10px -2px var(--shadowColor);

  @media (max-width: 889px) {
    right: 16px;
  }

  &:after {
    content: '';
    position: absolute;
    top: -5px;
    right: 11px;
    width: 14px;
    height: 14px;
    transform: rotate(45deg);
  }

  .Buttons {
    display: flex;
    flex-direction: column;
  }
}

.Avatar {
  padding: 0 20px;
  cursor: pointer;
}

.Button {
  margin: 0 20px;
}

.Card,
.Card::after {
  color: white !important;
  // TODO: к имени пользователся хз как применить
  transition: background 0.5s ease-in-out;
  background: var(--backgroundColorPrimary);
}
