.TouchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  @media (max-width: 450px) {
    display: none;
  }
}
.Buttons {
  display: flex;
  justify-content: space-around;
  margin-inline: 1rem;
}
