.container {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.approvalSection {
  pre {
    word-break: break-all;
    white-space: pre-wrap;
  }
  width: 45%;
}

.titleSection {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contentSection {
  margin-top: 20px;
}

.signaturesSection {
  display: flex;
  justify-content: space-between;
}

.signatureBlock {
  pre {
    word-break: break-all;
    white-space: pre-wrap;
  }
  width: 45%;
}
