.gridItem {
  position: relative;
}
.gridItem:hover::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  pointer-events: none;
}

.gridItem:hover .deleteIcon {
  opacity: 1;
}

.wrapper {
  width: 100%;
}

.filterWrapper {
  width: 100%;
  height: 100%;
}
