.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #1890ff;
  margin: 0 50px;
  padding: 0;

  @media (max-width: 889px) {
    margin: 0 25px;
  }

  @media (max-width: 500px) {
    margin: 0 10px;
  }

  h2 {
    color: #1890ff;
  }
}
  
