.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #ff4d4f;
  margin: 0 50px;
  padding: 0;

  h2 {
    color: #ff4d4f;
  }
}
  
