.User {
  height: calc(256px + 72px);

  .Background {
    overflow: hidden;

    :global(.ant-card-body) {
      height: 256px;
      position: relative;
      padding: 0;
    }

    .Image {
      object-fit: cover;
      filter: blur(16px);
    }
  }
  .Content {
    height: 144px;
    margin: -72px 16px 16px 16px;
  }
}

.tag {
  margin: 0;
  cursor: pointer;
}

.tag:hover {
  background-color: rgba(243, 178, 234, 0.938);
}
