@import './../../../styles/variables.scss';

.Header {
  text-align: center;
  font-size: calc(30px + (20 + 20 * 0.7) * ((100vw - 320px) / 1400));
  margin: 0;
  margin-bottom: 2rem;
  transition: color 0.5s;
  color: var(--primaryColor);
}

.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;

  // Divider пропадает при 969px почему-то
  // заменил 889px на 969px из-за этого
  @media (max-width: 969px) {
    flex-direction: column;
    gap: 40px;
  }
  :global {
    .ant-form-item label {
      color: var(--textColor);
    }
    .ant-input {
      background-color: var(--backgroundColorElements);
      color: #858f96;
    }
  }
}

.HalfBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;

  @media (max-width: 969px) {
    padding: 0 10px;
  }
}

.HalfBlock:first-child {
  width: 50%;
}

.Divider {
  width: 1px;
  height: 200px;
  opacity: 0.8;
  background-color: #858f96;

  @media (max-width: 969px) {
    width: 200px;
    height: 1px;
  }
}

.Form {
  display: flex;
  flex-direction: column;
  width: 100%;

  .Input {
    text-align: center;
    margin: 5px 0;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: 'tnum';
    min-width: 0;
    padding: 4px 11px;
    font-size: 14px;
    line-height: 1.5715;
    border: 1px solid #d9d9d9;
    border-radius: 2px;

    &:hover {
      border-color: var(--ant-primary-5);
    }

    &:focus {
      border-color: var(--ant-primary-5);
      box-shadow: 0 0 0 2px var(--ant-primary-color-outline);
      outline: 0;
    }

    &:active {
      color: var(--ant-primary-color-active);
      border-color: var(--ant-primary-color-active);
    }
  }

  .Button {
    margin: 5px 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-left: 4rem;
    background: transparent !important;
    line-height: 1.5715;
    position: relative;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
    height: 32px;
    font-size: 14px;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.85);
    border: 1px solid #d9d9d9;
    color: var(--textColor) !important;

    &:hover,
    &:focus {
      color: var(--ant-primary-color-hover);
      border-color: var(--ant-primary-color-hover);
    }

    &:active {
      color: var(--ant-primary-color-active);
      border-color: var(--ant-primary-color-active);
    }
  }
}
