.invoiceContainer {
  .providerInfo,
  .receiverInfo {
    .label {
      width: 110px;
      font-size: 14px;
      font-weight: 700;
      text-decoration: underline;
    }
    .info_adres__bold {
      font-weight: 700;
    }
    display: flex;
  }

  .providerInvoice {
    .datecellTitle {
      font-size: 20px;
      font-weight: 700;
    }
    .datecellDate {
      font-weight: 700;
    }
    padding: 20px 0px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tableSum {
    width: 94%;
  }

  .payTable {
    .payFixed {
      display: flex;
    }
    .payBold {
      text-transform: lowercase;
      font-weight: 700;
      margin-left: 10px;
    }
    .payBoldSum {
      font-weight: 800;
      margin-left: 280px;
    }
    .lineInner {
      margin-left: 55px;
    }
    .payBoldInner {
      font-weight: 800;
      margin-left: 55px;
    }
    padding: 20px 0px 0px 0px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
  }

  .endInfo {
    .endInfobolt {
      font-weight: 800;
      margin-right: 20px;
    }
    padding: 20px 0px;
    width: 800px;
    position: relative;
    display: flex;
  }
}
