.Header {
  display: none;
  font-size: calc(8.25px + (11.5 + 11.5 * 0.7) * ((100vw - 320px) / 1440));
  text-align: center;
  transition: color 0.5s;
  color: var(--primaryColor);

  @media (min-width: 425px) {
    display: block;
  }
}

.Komunalnik {
  font-size: calc(27px + (45 + 45 * 0.7) * ((100vw - 320px) / 1440));
  text-align: center;
  transition: color 0.5s;
  color: var(--primaryColor);
  letter-spacing: 3px;
  margin-bottom: -0.1em;
  font-weight: 700;
}

.HeaderMobile {
  display: none;
  letter-spacing: 3px;
  text-align: center;
  transition: color 0.5s;
  font-size: calc(12px + (11.5 + 11.5 * 0.7) * ((100vw - 320px) / 1440));
  color: var(--primaryColor);

  @media (max-width: 425px) {
    display: block;
  }
}

.Smaller1 {
  margin-top: 0;

  @media (min-width: 320px) {
    margin-bottom: -0.75rem;
    letter-spacing: 2px;
    font-size: calc(12px + (11.5 + 11.5 * 0.7) * ((100vw - 320px) / 1440));
  }
}

.Smaller2 {
  margin-top: 0;

  @media (min-width: 320px) {
    letter-spacing: 2px;
    font-size: calc(11px + (11.5 + 11.5 * 0.7) * ((100vw - 320px) / 1440));
  }
}

.Name {
  display: block;
  padding: 0 1rem;
}

.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.HalfBlock {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    flex: 0 1 100%;
  }
}

.Buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0;
  gap: 1rem;

  @media (max-width: 600px) {
    gap: 0.5rem;
  }

  @media (min-width: 1440px) {
    margin-left: 50%;
    margin-top: -5rem;
    margin-bottom: 1rem;
  }

  button {
    max-width: 180px;
    width: 100%;
    height: 50px;
    font-size: 18px;

    @media (max-width: 600px) {
      height: 40px;
    }
  }
}

.Text {
  width: 100%;
  max-width: 900px;
  transition: color 0.5s;
  color: var(--textColor);
  padding: 20px;
  margin-top: -2em;
  font-weight: 200;
  font-size: calc(15px + (7 + 7 * 0.7) * ((100vw - 320px) / 1440));

  @media (max-width: 600px) {
    padding: 20px 0;
    font-size: 16px;
  }

  @media (min-width: 1024px) {
    margin-left: -2rem;
    width: 120%;
    padding-top: 0.5rem;
  }
  @media (min-width: 1440px) {
    width: 100%;
    padding-top: 0.5rem;
  }
  @media (min-width: 2560px) {
    max-width: 1000px;
    width: 100%;
  }
  @media (width: 320px) {
    line-height: 1em;
  }
  span {
    font-weight: 500;
  }
}

.Image {
  position: relative;
  width: 80%;
  height: 80%;

  > *:first-of-type {
    position: absolute !important;

    > * {
      animation: floater 10s ease-in-out infinite;
      z-index: 2;

      // transition: filter 0.5s;
      // filter: drop-shadow(2mm 2mm 20px var(--textColor));
    }
  }

  > *:last-of-type {
    > * {
      animation: floater 10s ease-in-out 0.5s infinite;
      z-index: 1;

      // transition: filter 0.5s;
      // filter: drop-shadow(1mm 1mm 10px var(--textColor));
    }
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}

@keyframes floater {
  0% {
    transform: translateY(-5%);
  }

  50% {
    transform: translateY(8%);
  }

  100% {
    transform: translateY(-5%);
  }
}
