.Header {
  font-size: calc(27px + (45 + 45 * 0.7) * ((100vw - 320px) / 1440));
  text-align: center;
  transition: color 0.5s;
  color: var(--primaryColor);
}
#Smaller {
  margin-top: 0;
  font-size: calc(8.4px + (7.5 + 7.5 * 0.7) * ((100vw - 320px) / 768));
}
#Bigger {
  margin-bottom: -0.4em;
  font-weight: 700;
}
.Name {
  display: block;
  padding: 0 1rem;
  // flex-direction: column;
}

.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.HalfBlock {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    flex: 0 1 100%;
  }
  p {
    font-size: calc(15px + (20 + 20 * 0.7) * ((100vw - 320px) / 1440));
  }
}

.Buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0;
  gap: 1rem;

  @media (max-width: 600px) {
    gap: 0.5rem;
  }
  @media (min-width: 1440px) {
    margin-left: 50%;
    margin-top: -10rem;
  }

  button {
    max-width: 180px;
    width: 100%;
    height: 50px;
    font-size: 18px;

    @media (max-width: 600px) {
      height: 40px;
    }
  }
}

.Text {
  width: 100%;
  max-width: 600px;
  transition: color 0.5s;
  color: var(--textColor);
  padding: 20px;
  margin-top: -2em;
  font-weight: 200;

  font-size: 20px;
  @media (max-width: 600px) {
    padding: 20px 0;
    font-size: 16px;
  }
  @media (min-width: 1440px) {
    margin-top: -10em;
  }
}

.Image {
  position: relative;
  width: 80%;
  height: 80%;

  > *:first-of-type {
    position: absolute !important;

    > * {
      animation: floater 10s ease-in-out infinite;
      z-index: 2;

      // transition: filter 0.5s;
      // filter: drop-shadow(2mm 2mm 20px var(--textColor));
    }
  }
  > *:last-of-type {
    > * {
      animation: floater 10s ease-in-out 0.5s infinite;
      z-index: 1;

      // transition: filter 0.5s;
      // filter: drop-shadow(1mm 1mm 10px var(--textColor));
    }
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}

@keyframes floater {
  0% {
    transform: translateY(-5%);
  }
  50% {
    transform: translateY(8%);
  }
  100% {
    transform: translateY(-5%);
  }
}
