.ThemeSwitcher {
  margin-left: 10px;
  @media (max-width: 425px) {
    margin-right: 1rem;
  }
  @media (max-width: 320px) {
    margin-left: 3.5rem;
  }
  @media (min-width: 425px) {
    margin-right: 1rem;
  }
}
