.Controls {
  display: flex;

  .Search {
    max-width: 300px;
  }

  input {
    max-width: 300px;
    color: var(--textColor);
    border-color: #88888830 !important;
    &:hover {
      border-color: var(--primaryColor) !important;
    }
    &:focus {
      border-color: var(--primaryColorHover) !important;
    }
    background-color: transparent;
  }

  .AddButton {
    margin-left: 20px;
  }
}
