.TabList {
  display: none;

  @media (max-width: 1440px) {
    display: block;
  }
}

.TablessList {
  display: flex;
  gap: 1rem;

  align-items: flex-start;

  > * {
    width: 30%;
    border-radius: 1rem;
  }

  @media (max-width: 1440px) {
    display: none;
  }
}

.List {
  width: 100%;
  max-height: 50vh;
  overflow-x: hidden;
  overflow-y: auto;

  .ListItem {
    width: 100%;
    display: flex;
    padding: 1rem;
    border-radius: 1rem;

    &:hover {
      background-color: rgba(88, 88, 88, 0.05);
    }

    > div {
      width: 50%;
      display: flex;
      align-items: center;
      gap: 1rem;

      &:last-of-type {
        justify-content: flex-end;
      }
    }
  }

  &.Masters {
    .ListItem {
      > div {
        &:first-of-type {
          width: 75%;
        }
        &:last-of-type {
          width: 25%;
        }
      }
    }
  }

  &.Orders,
  &.Domains {
    .ListItem {
      @media (max-width: 600px) {
        flex-direction: column;
        gap: 0.5rem;
      }

      > div {
        @media (max-width: 600px) {
          width: 100%;
          justify-content: flex-start;

          &:last-of-type {
            justify-content: flex-start;
          }
        }
      }
    }
  }
}
