@import '../../styles/variables.scss';

.Layout {
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;

  .Container {
    padding: 0 50px;
    margin-top: 114px;
    transition: margin 0.2s ease-in-out;

    @media (max-width: 889px) {
      padding: 0 25px;
    }

    @media (max-width: 500px) {
      padding: 0 10px;
      margin-top: 74px;
      margin-left: 0 !important;
    }

    .SearchBar {
      display: none;

      @media (max-width: 660px) {
        display: block;
        margin-bottom: 25px;
      }

      @media (max-width: 500px) {
        margin-bottom: 10px;
      }
    }

    .Foreground {
      display: flex;
      flex-direction: column;
      min-height: calc(100vh - 114px);
      padding: 24px;
    }
  }
}

.Background,
.Foreground {
  transition: background 0.5s ease-in-out;
}

.Background {
  background: var(--backgroundColor) !important;
}
.Foreground {
  background: var(--backgroundColorPrimary) !important;
}
