.Layout {
  min-height: 100vh;

  .Container {
    padding: 0 50px;
    margin-top: 114px;
    margin-left: 80px;

    @media (max-width: 889px) {
      padding: 0 25px;
    }

    @media (max-width: 500px) {
      padding: 0 10px;
      margin-top: 74px;
      margin-left: 0;
    }

    .SearchBar {
      display: none;

      @media (max-width: 660px) {
        display: block;
        margin-bottom: 25px;
      }

      @media (max-width: 500px) {
        margin-bottom: 10px;
      }
    }

    .Background {
      display: flex;
      flex-direction: column;
      min-height: calc(100vh - 114px);
      padding: 24px;
      background: #fff;
    }
  }
}
