.Card {
  width: 100%;
  max-width: 450px;

  @media (max-width: 1200px) {
    max-width: 100%;
  }

  border-radius: 20px;

  overflow: hidden;
  position: relative;

  transition: background 0.5s, box-shadow 0.5s;
  box-shadow: 0 2px 10px -4px var(--shadowColor);
  background: var(--backgroundColor) !important;

  border-color: #88888830;

  > * {
    border-color: #88888830;

    > * {
      border-color: #88888830;
    }
  }

  .UserInfo {
    display: flex;
    align-items: center;
    flex-direction: column;

    * {
      transition: color 0.5s;
      color: var(--textColor);
    }
  }
  @media (max-width: 668px) {
    :global {
      .ant-card-head-wrapper {
        display: grid;
        padding-bottom: 0;
      }
      .ant-card-extra {
        padding-top: 0;
      }
    }
  }
  :global {
    .ant-card-head-title {
      white-space: normal;
    }
    .ant-card-extra {
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media (min-width: 1340px) {
    :global {
      .ant-card-extra {
        margin-left: 0.5rem;
        margin-right: auto;
      }
    }
  }

  .TaskInfo {
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    transition: background 0.5s;
    background: var(--backgroundColorElements) !important;

    border-color: #88888830;

    > * {
      border-color: #88888830;

      > * {
        border-color: #88888830;
      }
    }

    > * {
      transition: background 0.5s, color 0.5s;
      color: var(--textColor);

      &:first-of-type {
        background: var(--backgroundColorPrimary);
      }
    }

    .Description {
      width: 100%;
      max-height: 80px;
      word-wrap: break-word;
      border-bottom: 1px solid #88888830;

      overflow-x: hidden;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  ul {
    transition: background 0.5s, color 0.5s;
    color: var(--textColor);
    background: var(--backgroundColorPrimary) !important;

    li {
      border-color: #88888830 !important;
    }
  }

  // actions
}

.CloseDeadline {
  font-size: 16px;
  font-weight: bold;
  color: rgb(249, 184, 4);
}

.AfterDeadline {
  font-size: 16px;
  font-weight: bold;
  color: rgb(255, 0, 0);
}

.Icon {
  font-size: 25px;
  padding-left: 10px;
}
