.tableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .Icon {
    font-size: 14px;
  }
  .title {
    color: var(--primaryColor);
    font-weight: 400;
  }
  .myPayments {
    margin-left: -16px;
  }
}
