.tableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .Icon {
    font-size: 14px;
  }
  .title {
    color: var(--primaryColor);
    font-weight: 400;
  }
  .myPayments {
    margin-left: -16px;
  }
  .firstBlock {
    display: flex;
    flex-direction: row;
  }
  .secondBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .filtersTagsBlock {
    display: flex;
    flex-direction: column;
  }
  .filters {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
  }
  .filtersTags {
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
  }
  .Tag {
    margin: .25rem 0 .25rem .5rem;
  }
}
