.ant-popover {
  width: 400px !important;

  #popconfirm_custom .ant-popover-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 4px;
    text-align: right;
    justify-content: flex-start;
    flex-direction: row-reverse;
  }
}
