.Logo {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  overflow: auto;
  border-bottom: 1px solid #11111111;// TODO: border color from antd theme
}


.MenuWrapper {
  overflow-Y:auto; 
  height: 50%;
}