.Header {
  text-align: center;
  font-size: calc(30px + (20 + 20 * 0.7) * ((100vw - 320px) / 1400));
  margin: 0;
  transition: color 0.5s;
  color: var(--primaryColor);
}

.Text {
  text-align: center;
  font-size: calc(15px + (5 + 5 * 0.7) * ((100vw - 320px) / 1400));
  margin: 1rem 0 2rem 0;

  transition: color 0.5s;
  color: var(--textColor);
}

.Container {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 1000px) {
    flex-direction: column;
  }
}

.Form {
  width: 100%;
  max-width: 350px;

  input,
  textarea {
    transition: color 0.5s;
    color: var(--textColor);
    border-color: #88888830;
    background: transparent !important;
  }
}

.Divider {
  width: 1px;
  height: 250px;
  opacity: 0.8;
  background-color: #858f96;
  margin: 0 5rem;

  @media (max-width: 1000px) {
    width: 100%;
    max-width: 400px;
    height: 1px;
    margin: 3rem 0;
  }
}

.Links {
  width: 100%;
  max-width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  > a {
    transition: color 0.5s, opacity 0.2s;
    color: var(--textColor);
    opacity: 0.5;
  }
  > a:hover {
    opacity: 1;
  }

  .Contacts {
    gap: 1.25rem;
    > div {
      display: flex;
      gap: 0.5rem;
    }
  }

  .Media {
    gap: 0.5rem;
    > a {
      font-size: 18px;
    }
  }

  .Contacts,
  .Media {
    display: flex;
    flex-direction: column;
    > * {
      > * {
        font-size: 18px;
        line-height: 18px;
        transition: color 0.5s;
        color: var(--textColor) !important;
      }

      transition: opacity 0.2s;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }
  }
}
