.headerBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.firstBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.segmented {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-right: 120px;
}
