.headerBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

.firstBlock {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
}

.servicesFilter {
  flex: 0 0 250px;
}

.segmented {
  display: flex;
  align-items: center;
  margin-right: 120px;
}
