.headerBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  width: 100%;
  white-space: normal;
}

.firstBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 3px;
  margin-bottom: 5px;
}

.segmented {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 16px;
  margin-top: 12px;
  margin-left: auto;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.addButton {
  margin-left: auto;
}